<!DOCTYPE html>
<html ng-app="pats">
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/browser/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<header></header>
	<main>
		<h1>hi</h1>
	</main>

	<footer></footer>
</div>
<script type="text/javascript" src="/browser/vendor/angular.min.js"></script>

</body>
</html>