<!DOCTYPE html>
<html ng-app="patternsApp">
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<header></header>
	<main>
		<h1>hi</h1>
		<div ui-view></div>
	</main>

	<footer></footer>
</div>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script type="text/javascript" src="/browser/patternsApp.js"></script>
<script type="text/javascript" src="/browser/home/PatternListController.js"></script>

</body>
</html>